@import url(http://fonts.googleapis.com/css?family=Montserrat:700);

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body {
  /*background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_w9AWwd7boNUuGAb_rktB_jJI0TZ_D0K-Tlt9TWdhVlIwnEIh');*/
  background-image: url('http://www.psdgraphics.com/file/planet-earth-in-space.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*Headings*/

h1 {
  color: #3D6D56;
  opacity: 0.5;
  font-size: 200px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  padding-top: 50px;
  padding-bottom: 50px;
}

h2 {
  text-align: center;
  text-decoration: underline;
  font-family: sans-serif;
  font-style: italic;
  font-size: 30px;
  color: #BFAA7E;
  text-decoration: none;
  border-top: 1px solid #3D6D56;
  padding-top: 50px;
  margin-top: 50px;
  margin-bottom: 30px;
}

/*Navigation*/

nav {
  text-align: center;
  border: 1px solid #3D6D56;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  padding-bottom: 50px;
}

li {
  padding: 5px 50px;
  list-style-type: none;
  vertical-align: top;
  display: inline-block;
  font-size: 24px;
  /*border: 1px solid yellow;*/
}

nav>ul>li>ul>li {
  display: block;
  font-size: 14px;
  padding: 0px 0px;
}

nav ul li a {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 20px;
  color: white;
  opacity: 0.5;
  transition: font-size 0.5s ease;
}

ul#main_nav>li>a:hover {
  font-size: 30px;
  color: #BFAA7E;
  transition: font-size 0.5s ease;
}

/*testing drop down transition, Chrome and Safari*/
ul#main_nav>li.has_dropdown:hover>ul {
  font-size: 30px;
  color: #BFAA7E;
  transition: font-size 0.5s ease;
}

ul#sub_nav>li.nav_item>a:hover {
  background-color: purple;
  font-size: 24px;
  color: #BFAA7E;
  transition: font-size 0.5s ease;
}

nav ul#main_nav > li.has_dropdown > ul#sub_nav {
  visibility: hidden;
}

nav ul#main_nav > li.has_dropdown:hover > ul#sub_nav {
  visibility: visible;
}


/*Content*/

section {
  padding-top: 50px;
}

h3, h4 {
  margin-top: 100px;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 28px;
  color: #BFAA7E;
  opacity: 0.7;
}

/*h4 {
  margin-top: 100px;
  text-align: center;
  font-size: 28px;
  color: #BFAA7E;
}*/

p {
  font-family: sans-serif;
  line-height: 2em;
  font-size: 24px;
  margin: 50px;
  margin-left: 150px;
  margin-right: 150px;
  line-height: 2.0;
  color: #BFAA7E;
  opacity: 0.9;
  text-indent: 2.5em;
}

aside {

}

/*Footer*/

footer {
  margin-top: 100px;
  margin-bottom: 20px;
  text-align: center;
  font-variant: small-caps;
  color: #BFAA7E;
}