@import url(http://fonts.googleapis.com/css?family=Montserrat:700);

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/*clearfix*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  background-image: url('http://www.psdgraphics.com/file/planet-earth-in-space.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*Headings*/

h1 {
  color: #3D6D56;
  opacity: 0.5;
  font-size: 150px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  padding-top: 50px;
}

h2 {
  text-align: center;
  text-decoration: underline;
  font-family: sans-serif;
  font-size: 30px;
  color: #BFAA7E;
  text-decoration: none;
  border-bottom: 1px solid #3D6D56;
  padding-bottom: 50px;
  margin-bottom: 30px;
}

/*Navigation*/

nav {
  text-align: center;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  padding-bottom: 40px;
}

li {
  padding: 5px 40px;
  list-style-type: none;
  vertical-align: top;
  display: inline-block;
  font-size: 24px;
}

nav>ul>li>ul>li {
  display: block;
  font-size: 14px;
  padding: 0px 0px;
}

nav ul li a {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 20px;
  color: white;
  opacity: 0.5;
  transition: font-size 0.5s ease;
}

ul#main_nav>li>a:hover {
  font-size: 30px;
  color: #BFAA7E;
  transition: font-size 0.5s ease;
}

/*testing drop down transition, Chrome and Safari*/
ul#main_nav>li.has_dropdown:hover>ul {
  font-size: 30px;
  color: #BFAA7E;
  transition: font-size 0.5s ease;
}

ul#sub_nav>li.nav_item>a:hover {
  background-color: purple;
  font-size: 24px;
  color: #BFAA7E;
  transition: font-size 0.5s ease;
}

nav ul#main_nav > li.has_dropdown > ul#sub_nav {
  visibility: hidden;
}

nav ul#main_nav > li.has_dropdown:hover > ul#sub_nav {
  visibility: visible;
}


/*Content*/

#layout {
  margin: 0px;
  padding: 0px;
  margin: auto;
  max-width: 800px;
}

#layout section {
  margin: 0px;
  padding: 0px;
  float: left;
  width: 60%;
  margin: auto;
  box-sizing: border-box;
}

#layout aside {
  margin: 0px;
  padding: 0px;
  float: right;
  width: 40%;
  margin: auto;
  box-sizing: border-box;
}

h3, h4 {
  margin-top: 50px;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 28px;
  color: #BFAA7E;
  opacity: 0.7;
}

p {
  font-family: sans-serif;
  line-height: 2em;
  font-size: 20px;
  margin: 50px;
  line-height: 1.5;
  color: #BFAA7E;
  opacity: 0.9;
}

aside p {
  
}

/*Footer*/
footer {
  margin-top: 100px;
  margin-bottom: 30px;
  text-align: center;
  font-variant: uppercase;
  color: #BFAA7E;
}

/* MOBILE ONLY */
@media only screen and (max-width: 480px){

}

/* TABLET ONLY */
@media only screen and (min-width: 481px) and (max-width: 768px){

}

/* DESKTOP ONLY */
@media only screen and (min-width: 769px){

}